$color:#FCF;
body{
    background-color: $color;
    //取消文字選取
    user-select: none;
}
img{
    //不允許圖片拖動
    -webkit-user-drag: none;
}

//首頁的布局樣式
#compoments-layout-demo-side .logo{
    height: 32px;
    margin: 16px;
    background: rgba(255,255,255,0.3);
}

.site-layout .site-layout-background{
    background: #FFF;
}